Solicitud de restablecimiento de contraceña

Nueva contraceña para: {{user.email}}

Haga click en el siguente enlace para estebleser una nueva contraceña.

{% block reset_link %}
{{ protocol }}://{{domain}}{% url 'bases:password_reset_confirm' uidb64=uid token=token %}

{% endblock %}



Si usted no solicito este mensaje favor pueda reportarlo: a etriguero@rpk.com


Este mensaje fue generado automaticamente por Sistema de Administracion publicitaria
RPK.SRL.
No tratre de responder. para mas informacion: etriguero@rpk.com.bo