{% load static%}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AD RPK</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'base/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/rpk.css' %}" rel="stylesheet">
  <link href="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/vendor/jquery-confirm/jquery-confirm.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/bootstrap4-toggle.min.css' %}" rel="stylesheet">
  <!-- buscador en select -->
  <link href="{% static 'base/css/select2.min.css' %}" rel="stylesheet">

</head>
<!-- agregar la siguete linea para que inicie el menu minimizado -->
<!-- sidebar-toggled -->

<body id="page-top" class=" bg-gradient-primary ">

  {% block side_bar %}
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- agregar la siguete linea para que inicie el menu minimizado -->
    <!--toggled-->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled " id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'bases:home' %}">
        <!-- <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
          
        </div> -->
        <img class="logo-blanco" src="{% static 'base/img/rpk_blanco.svg' %}" alt="">

      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        Operaciones
      </div>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'rondas:rondas_list'%}">
          <i class="fas fa-globe-americas"></i>
          <span>Rondas</span></a>
      </li>

      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseView" aria-expanded="true"
          aria-controls="collapseView">
          <i class="fas fa-fighter-jet"></i>
          <span>Vistas Rapidas</span>
        </a>
        <div id="collapseView" class="collapse" aria-labelledby="headingView" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="{% url 'display:products_list' %}">Productos</a>
            <!-- tag par apermisos -->
            {% if perms.component.view_category %}

            <a class="collapse-item" href="{% url 'display:clients_list' %}">Clientes</a>
            {% endif %}
            <!-- <a class="collapse-item" href="{% url 'component:locations_list' %}">Locaciones</a> -->
            <!-- <a class="collapse-item" href="{% url 'component:product_list' %}">Productos</a> -->
          </div>
        </div>
      </li>

      <!-- Divider -->
      <!-- <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-file-video"></i>
          <span>Generar orden de pauta</span></a>
      </li> -->
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Componentes</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ad de Componentes:</h6>
            <a class="collapse-item" href="{% url 'component:city_list' %}">Ciudades</a>
            <!-- tag par apermisos -->
            {% if perms.component.view_category %}

            <a class="collapse-item" href="{% url 'component:categories_list' %}">Categorias</a>
            {% endif %}
            <a class="collapse-item" href="{% url 'component:locations_list' %}">Locaciones</a>
            <a class="collapse-item" href="{% url 'component:product_list' %}">Productos</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-cash-register"></i>
          <span>Ventas</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ad Ventas:</h6>
            <a class="collapse-item" href="{% url 'sales:client_list' %}">Clientes</a>
            <a class="collapse-item" href="{% url 'sales:contract_list' %}">Ordenes de pauta</a>

          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        PAUTAS
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>AD de contenido</span>
        </a>
        <div id="collapsePages" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">AD contenido:</h6>
            <a class="collapse-item" href="{% url 'content:videos_list' %}">Videos</a>
            <a class="collapse-item" href="{% url 'content:playlist_list' %}">Listas</a>
            <!-- <a class="collapse-item" href="#">Generados de pautas</a> -->

          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true"
          aria-controls="collapseReport">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Reportes</span>
        </a>
        <div id="collapseReport" class="collapse " aria-labelledby="headingReport" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Reportes:</h6>
            <a class="collapse-item" href="{% url 'reportemision:report_client' %}">Mensual</a>
            <a class="collapse-item" href="{% url 'reportemision:report_client' %}">por Clientes</a>
          </div>
        </div>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    {% endblock side_bar %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% block top_bar %}

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
                <img class="img-profile rounded-circle" src="{% static 'base/img/profile/User.svg' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>

        {% endblock top_bar %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {% block page_content  %}
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-4 text-gray-800">Title PAGE</h1> -->

        </div>
        {% endblock page_content  %}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% block footer %}
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; RPK. Srl. 2019</span>
          </div>
        </div>
      </footer>

      {% endblock footer %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    {% block login %}

    {% endblock login %}

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'bases:logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- modal personalizado -->
  <div class="modal fade" id="popup"> </div>
  <!-- fin modal personalizado -->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'base/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- para generar graficos CDN google chart -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Data table  -->
  <script src="{% static 'base/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'base/js/sb-admin-2.js' %}"></script>

  <!-- extencion de la pagina:    https://gitbrent.github.io/bootstrap4-toggle/ -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <!-- <script src="{% static 'base/js/bootstrap4-toggle.min.js' %}"></script> -->

  <!-- jquery confirm  modales -->

  <script src="{% static 'base/vendor/jquery-confirm/jquery-confirm.min.js' %}"></script>

  <!-- juqery para select2  -->
  <script src="{% static 'base/js/select2.min.js' %}"></script>

  <!-- prueba para exportar a csv -->
  <script src="{% static 'base/js/jquery.toCSV.js' %}"></script>



  {% block control_modal %}
  <script>
    function abrir_modal(url) {

      $("#popup").load(url, function () {
        $(this).modal({
          backdrop: 'static',
          keyboard: false
        })
        $(this).modal('show');
      });
      return false;
    }

    function cerrar_modal() {
      $('#popup').modal('hide');
      return false;
    }

    function mensaje(msg, color = 'green') {
      if (color == "success") {
        color = "green";
      }
      if (color == "error") {
        color = "red";
      }

      $.alert({
        title: '',
        theme: 'material',
        type: color,
        content: msg
      });
    }

    {% if messages %}
    {% for message in messages %}
    mensaje("{{message}}", "{{message.tags}}");
    {% endfor %}

    {% endif %}

  </script>
  {% endblock control_modal %}
  {% block js_page %}

  {% endblock %}
</body>

</html>