{% extends 'base/base.html' %}

{% block page_content %}

<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">Productos contratados por {{contract.client}}</h4>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No hay clientes que contraron. </div>

        {% else %}
        <div class="table-responsive">

            <table class="table table-striped table-hover table-bordered table-sm" data-page-length='25' id="producto">
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>Producto</th>
                        <th>Horas funcionamiento</th>
                        <th>H. inicio</th>
                        <th>F. final</th>
                        <th>Pases</th>
                        <th>Porcentaje</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in obj %}

                    <tr>
                        <!-- <td>{{ item.id }}</td> -->
                        <td> <a class="text-decoration-none"
                                href="{% url 'display:products_client' item.product.id %}"> {{item.product}} </a></td>
                        <!-- <td>{{ item.contract.description }}</td> -->
                        <td>{{ item.product.time_operating_valid }}</td>
                        <td>{{ item.product.start_time }}</td>
                        <td>{{ item.product.end_time }}</td>
                        <td>{{ item.pass_contract}}</td>
                        <td>{{ item.porcentage_contract}}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block js_page %}
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            show: 20,



        });
    })

</script>


{% endblock %}