{% extends 'base/base.html' %}

{% block page_content %}

<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Clientes</h6>

    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No hay clientes</div>

        {% else %}
        <div class="table-responsive">

            <table class="table table-striped table-hover table-bordered table-sm" data-page-length='25' id="producto">
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>Cliente</th>
                        <th>Info</th>
                        <th>Auspicio</th>
                        <th>F. inicio</th>
                        <th>F. final</th>
                        <th>Respaldo Foto y/o video</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in obj %}

                    <tr>
                        <!-- <td>{{ item.id }}</td> -->
                        <td> <a class="text-decoration-none" href="{% url 'display:client_order' item.id %}"> {{item.client}} </a></td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.auspice|yesno:"Si,No"}}</td>
                        <td>{{ item.start_date|date:"d/m/Y" }}</td>
                        <td>{{ item.end_date|date:"d/m/Y" }}</td>
                        
                        <td class="nav nav-tabs"> <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-photo-video"></i></a>
                            <div class="dropdown-menu">
                                {% for item2 in item.urls %}
                                
                                    <a class="dropdown-item" href="{{item2.url}}" target="blank" >{{item2.month_year}} - {{item2.year}}</a>
                                
                                {% endfor %}
                            </div>
                          </li></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block js_page %}
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            show: 20,



        });
    })

</script>


{% endblock %}