{% extends 'base/base.html' %}

{% block page_content %}

<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Clientes</h6>

    </div>
    <br />

    <!-- Earnings (Monthly) Card Example -->


    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No hay clientes</div>

        {% else %}
        <div class="row">

            {% for item in obj %}
            <a href="{{item.url}}" target="blank" class="text-decoration-none col-xl-3 col-md-6 mb-4">
                
                <!-- <div class="col-xl-3 col-md-6 mb-4"> -->
                    <div class="card border-left-secondary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2 text-center">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{item.city}}</div>
                                </div>
                                <div class="col-auto">
                                    
                                    <i class="fab fa-google-drive fa-2x text-gray-300"> </i>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </a>
            {% endfor %}

        </div>

    </div>
    {% endif %}
</div>


{% endblock %}


{% block js_page %}
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            show: 20,



        });
    })

</script>


{% endblock %}