{% extends 'base/base.html' %}

{% block page_content %}

<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">Clientes actuales: {{product}}</h4>

    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No hay clientes que contraron. </div>

        {% else %}
        <div class="table-responsive">

            <table class="table table-striped table-hover table-bordered table-sm" data-page-length='25' id="producto">
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>Cliente</th>
                        <th>Info</th>
                        <th>Auspicio</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th>Pases</th>
                        <th>Porcentaje</th>
                        

                    </tr>
                </thead>
                <tbody>
                    {% for item in obj %}


                    <tr>
                        <!-- <td>{{ item.id }}</td> -->
                        <td> <a class="text-decoration-none" href=""  onclick="return abrir_modal('{% url 'display:video_list' item.id %}')"> {{item.contract.client}}  </a></td>
                        <td>{{ item.contract.description }}</td>
                       <td>{{ item.contract.auspice|yesno:"Si,No" }}</td>
                        <td>{{ item.contract.start_date }}</td>
                        <td>{{ item.contract.end_date }}</td>
                        <td>{{ item.pass_contract}}</td>
                        <td>{{ item.porcentage_contract}}</td>
                        


                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block js_page %}
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            show: 20,



        });
    })

    


</script>


{% endblock %}