{% extends 'base/base.html' %}

{% block page_content %}

<div class="row ">
    <div class="col-xl-6 col-md-6 mb-6">
        <div class="card border-left-primary shadow h-100 py-2 ml-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Datos de Producto:</div>
                        <div class="dropdown-divider"></div>
                        <!--  -->
                        <div class="row ml-3">
                            <p>Producto: <strong>{{product.category}} : {{product.location}} : {{product.name}}
                                </strong></p> <br>
                        </div>
                        <div class="row ml-3">
                            <p>Ubicacion: <strong> {{product.place}} </strong></p>
                        </div>
                        <div class="row ml-3">
                            <p>Fecha inicio: <strong class="mr-5">{{product.start_date}}</strong> Fecha final:
                                <strong>{{product.end_date}}</strong> </p>
                        </div>
                        <div class="row ml-3">
                            <p>Hora inicio: <strong class="mr-5">{{product.start_time}}</strong> Hora final: <strong
                                    class="mr-5">{{product.end_time}}</strong> Tiempo de funcionamiento:
                                <strong>{{product.time_operating}}</strong> </p>
                        </div>
                        <div class="row ml-3">
                            <p>Estado: <strong>{{product.state|yesno:'Activo, Desactivo'}}</strong> </p>
                        </div>


                    </div>
                    <div class="col-auto">
                        <img src="{{product.img.url}}" class="img-fluid" alt="{{product.img}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-xl-6 col-md-6 mb-6">
        <div class="card border-left-primary shadow h-100 py-2 mr-3 ">
            <div class="card-body pb-0 ">
                <div class="row no-gutters align-items-center ">
                    <div class="col mr-2 ">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nuevo Sub producto:</div>
                        <div class="dropdown-divider"></div>
                        <!--  -->
                        <form method="POST" class="form-group mb-0" enctype="multipart/form-data" id="formulario"
                            name="formulario">
                            {% csrf_token %}

                            <div class="form-group row">
                                <label for="id_name" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10 ">
                                    <input type="text" name="name" maxlength="50" class="form-control" required
                                        autocomplete="off" id="id_name" value="{% if obj %} {{obj.name}} {% endif %}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="id_place" class="col-sm-2 col-form-label">Ubicacion</label>
                                <div class="col-sm-10">
                                    <input type="" name="place" maxlength="100" class="form-control" id="id_place"
                                        value="{% if obj %} {{obj.place}} {% endif %}" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row">
                                {% if obj.img %}

                                <img src="{{obj.img.url}}" alt="">
                                {% endif %}
                                <label for="id_img" class="col-sm-2 col-form-label">Imagen</label>
                                <div class="col-sm-10">
                                    <input type="file" name="img" maxlength="300" class="form-control-file" id="id_img"
                                        value="{% if obj.img %} {{obj.img}} {% endif %}">
                                </div>
                            </div>
                            <div class="form-group row  ">
                                <div class="col-sm-2">Estado</div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input type="checkbox" name="estado" class="form-check-input" checked
                                            {% if obj.state %} checked {% endif %} id="id_state">
                                        <label class="form-check-label" for="id_state">
                                            Marcar estado.
                                        </label>
                                    </div>

                                </div>
                            </div>


                            <!--  -->


                            <!-- {{form.as_p}} -->
                            <div class="dropdown-divider"></div>
                            <div class="form-group row text-center ">
                                <div class="col-sm-12 ">
                                    <a href="{% url 'component:product_list' %}" class="btn btn-danger "><span
                                            class="fa fa-undo"> Cancelar</span></a>
                                    <button type="submit" class="btn btn-success "><span class="fa fa-save "></span>
                                        Guardar</button>
                                </div>
                            </div>

                        </form>

                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    {% if not obj %}
    <div class="alert alert-info">No hay sub productos asignados </div>

    {% else %}
    <div class="table-responsive">

        <table class="table table-striped table-hover table-bordered table-sm" data-page-length='25'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Lugar</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <!-- <th>F. Creacion</th>
                    <th>F. Modificacion</th> -->
                    <th>UC</th>
                    <th>UM</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td> {{item.name}}</td>
                    <td>{{ item.place }}</td>
                    <td class="text-center">
                        {% if item.img %}
                        <img src="{{ item.img.url }}" class="img-thumbnail" alt="IMG" width="60" height="60">

                        {% endif %}
                    </td>
                    <td>{{ item.state|yesno:"Activo,Inactivo" }}</td>
                    <!-- <td>{{ item.created_at}}</td>
                    <td>{{ item.updated_at}}</td> -->
                    <td>{{ item.user_created}}</td>
                    <td>{{ item.user_updated}}</td>
                    <!-- para fecha formateada |date: "d/m/Y H:i:s" -->

                    <td>
                        <!-- <a href="{% url 'component:product_edit' item.id %}"
                            class="btn btn-sm btn-outline-warning btn-circle" role="button"><i
                                class="far fa-edit"></i></a>
                        <a href="{% url 'component:sub_product' item.id %}"
                            class="btn btn-sm btn-outline-info btn-circle" role="button">
                            <i class="fab fa-product-hunt"></i></a>
                        <button class="btn btn-sm btn-outline-danger btn-circle"
                            onclick="return abrir_modal('{% url 'component:product_delete' item.id %}')"><i
                                class="far fa-trash-alt"></i></button> -->


                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    {% endif %}
</div>






{% endblock %}
{% block js_page %}
<script>
    $(document).ready(function () {


    })


    $("form").submit(function (e) {

        e.preventDefault();
        var data = new FormData($("#formulario").get(0));

        var token = '{{csrf_token}}';

        console.log(data);

        $.ajax({
            headers: { "X-CSRFToken":token },
            type: "POST",
            url: "/component/sub_product/new",
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {

                aux = response;
                console.log(aux);
            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                mensaje(errorThrow, 'red');
                cerrar_modal();
            }
        });


    });


    // funcion para guardar sub producto
    function guardar(id_product) {

        id_product = id_product;
        // name = $("#pases").val();
        // place = $("#porcentaje").val();
        // img = $("#description").val();
        // var data = {
        //     id_contract: id_contract,
        //     id_product: id_product,
        //     pases: pases,
        //     porcentaje: porcentage,
        //     description: description
        // };
        var data = new FormData($('#formulario').get(0));

        var token = '{{csrf_token}}';

        // console.log(data);

        $.ajax({
            headers: { "X-CSRFToken": token },
            type: "POST",
            url: "/component/sub_product/new",
            data: data,
            success: function (response) {
                // aux["order"][0].category
                // if (response['obj'] == 'OK') {
                //     // mensaje("El producto asosiado a la orden de pauta de elimino. ", "orange");
                //     $("#tbodyid").empty();
                //     for (let index = 0; index < response["order"].length; index++) {
                //         var estado = '<button type="button" class="btn btn-outline-danger btn-sm" onclick="update(' + response["order"][index].id + ')" ><i class="far fa-times-circle"></i></button>';
                //         if (response["order"][index].estado == true) {
                //             estado = '<button type="button" class="btn btn-outline-success btn-sm" onclick="update(' + response["order"][index].id + ')" ><i class="far fa-check-circle"></i></button>';
                //         }
                //         var fila = '<tr class="col-md-12" id="fila' + cont + '">' +
                //             '<td> ' + response["order"][index].category + ':' + response["order"][index].product + ':' + response["order"][index].location + '</td>' +
                //             '<td> ' + response["order"][index].pass + '</td>' +
                //             '<td> ' + response["order"][index].porcentage + '</td>' +
                //             '<td> ' + response["order"][index].description + '</td>' +
                //             '<td> ' + estado + '</td>' +
                //             '<td><button type="button" class="btn btn-outline-primary btn-sm"  onclick="eliminar(' + response["order"][index].id + ');" >X</button></td>' +
                //             '</tr>';

                //         $('#detalles').append(fila);

                //     }
                // } else {

                // }

                aux = response;
                console.log(aux);
            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                mensaje(errorThrow, 'red');
                cerrar_modal();
            }
        });
        $("#product_id").val('');
        $("#pases").val('');
        $("#porcentaje").val('');
        $("#description").val('');



    }
</script>


{% endblock %}