{% extends 'base/base.html' %}

{% block page_content %}


<div class="col-xl-10 col-md-10 mb-10">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Datos de Producto:</div>
            <div class="dropdown-divider"></div>
                    <!--  -->
                    <div class="row ml-3">
                        <p>Producto: <strong> LED MEGACENTER </strong></p> <br>
                    </div>
                    <div class="row ml-3">
                        <p>Ubicacion: <strong> Atrio del megacenter LPZ </strong></p>
                    </div>
                    <div class="row ml-3">
                        <p>Fecha inicio: <strong class="mr-5">12/12/2020</strong> Fecha final:
                            <strong>12/12/2020</strong> </p>
                    </div>
                    <div class="row ml-3">
                        <p>Hora inicio: <strong class="mr-5">8:00</strong> Hora final: <strong
                                class="mr-5">22:00</strong> Tiempo de funcionamiento: <strong>22:00</strong> </p>
                    </div>
                    <div class="row ml-3">
                        <p>Estado: <strong>Activo</strong> </p>
                    </div>

           
          </div>
          <div class="col-auto">
            <img src="..." class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </div>




<form method="POST" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}

</form>

{% endblock %}
{% block js_page %}
<script>
    $(document).ready(function () {
        $('#id_category').select2({ placeholder: "Seleccione", allowClear: true });
        $('#id_location').select2({ placeholder: "Seleccione", allowClear: true });
    })
</script>


{% endblock %}