{% extends 'base/base.html' %}




{% block page_content %}

<form method="POST" class="form-group" enctype="multipart/form-data" id="formulario">
    {% csrf_token %}

    <div class="col-xl-12 col-md-12 mb-12" id="seleccion">

        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
            {% else %}

            <div class="card border-left-primary shadow h-100 py-2">
                {% endif %}

                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nuevo contrato
                            </div>
                            <small class="text-danger">
                                {% if form.errors %}
                                {% for field in form %}
                                {% if field.errors %}
                                {% for error in field.errors %}
                                {{ error|escape }}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}

                                {% if form.non_field_errors%}
                                {% for error in form.non_field_errors %}
                                {{ error|escape }}
                                {% endfor %}
                                {% endif %}
                                {% endif %}
                            </small>
                            <div class="dropdown-divider"></div>

                            <div class="form-group row">
                                <label for="id_client" class="col-sm-2 col-form-label">Cliente</label>
                                <div class="col-sm-10">
                                    <select name="client" id="id_client" required class="form-control">
                                        <option value=""> Selecciona cliente</option>
                                        {% for item in obj %}
                                        <option value="{{item.id}}"> {{item.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">Auspicio</div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input type="checkbox" name="auspice" class="form-check-input"  id="id_auspice">
                                        <label class="form-check-label" for="id_auspice">
                                            Marcar en caso de Auspicio.
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_start_date" class="col-sm-2 col-form-label">Fecha Inicio</label>
                                <div class="col-sm-4 ">
                                    <input type="date" name="start_date" class="form-control" id="id_start_date"
                                        value="{% if obj %}{{obj.start_date|date:'Y-m-d'}}{% endif %}">
                                </div>

                                <label for="id_end_date" class="col-sm-2 col-form-label">Fecha Final</label>
                                <div class="col-sm-4 ">
                                    <input type="date" name="end_date" class="form-control" id="id_end_date"
                                        value="{% if obj %}{{obj.end_date|date:'Y-m-d'}}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="id_pass_contract" class="col-sm-2 col-form-label">Pases contratados</label>
                                <div class="col-sm-3 ">
                                    <input type="number" name="pass_contract" class="form-control" id="id_pass_contract"
                                        value="">

                                </div>
                                <div class="col-sm-1">
                                    <div class="form-check">
                                        <input type="checkbox" name="state" class="form-check-input" id="check_pass">
                                        <label class="form-check-label" for="id_state">

                                        </label>
                                    </div>

                                </div>

                                <label for="id_porcentage_contract" class="col-sm-2 col-form-label">Porcentaje
                                    Contratado</label>
                                <div class="col-sm-3 ">
                                    <input type="number" name="porcentage_contract" class="form-control"
                                        id="id_porcentage_contract" value="">
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-check">
                                        <input type="checkbox" name="state" class="form-check-input" id="check_porc">
                                        <label class="form-check-label" for="id_state">

                                        </label>
                                    </div>

                                </div>

                            </div>
                            <!-- <div class="form-group row text-right">
                                <div class="col-10">
                                    <button type="button" class="btn btn-outline-info"
                                        onclick="asignar_productos()">Seleccionar productos</button>
                                </div>

                            </div> -->


                            <div class="dropdown-divider"></div>


                            <div class="form-row align-items-center" id="content_product">
                                <!-- <div class="col-auto my-1">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" name="" class="form-check-input" id="">
                                        <label class="custom-control-label" for="id_state">Led megacenter Lpz</label>
                                    </div>
                                    <div class="col-auto my-1">
                                        <button type="button" class="btn btn-outline-info"
                                            onclick="asignar_productos({{item.id}})">Seleccionar productos</button>
                                    </div>
                                </div> -->

                                <!-- <div class="form-row align-items-center col-12">
                                    <div class="col-auto my-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="autoSizingCheck2" name="check[]">
                                            <label class="form-check-label" for="autoSizingCheck2">
                                                prueba
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 my-1">
                                        <label class="sr-only" for="inlineFormInputGroupUsername"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">pases</div>
                                            </div>
                                            <input type="number" class="form-control" name="pases[]"  value="333" >

                                        </div>

                                    </div>
                                    <div class="col-sm-2 my-1">
                                        <label class="sr-only" for="inlineFormInputGroupUsername"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">%</div>
                                            </div>
                                            <input type="text" class="form-control" name="porcentaje[]"  value="333" readonly>

                                        </div>

                                    </div>
                                    <div class="col-sm-6 my-1">
                                        <label class="sr-only" for="inlineFormInputGroupUsername"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">descripción</div>
                                            </div>
                                            <input type="text" class="form-control" name="descripcion[]"  value="">

                                        </div>

                                    </div>


                                </div> -->




                            </div>

                            <div class="form-row text-center ">

                                <div class="col-sm-10">
                                    <a href="{% url 'sales:contract_list' %}" class="btn btn-danger"><span
                                            class="fa fa-undo"> Cancelar</span></a>
                                    <button type="submit" class="btn btn-success"><span class="fa fa-save"></span>
                                        Guardar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</form>

{% endblock %}

{% block js_page %}
<script>
    $(document).ready(function () {
        $('#id_client').select2({ placeholder: "Seleccione", allowClear: true });

        document.getElementById("id_porcentage_contract").disabled = true;
        document.getElementById("check_pass").checked = true;

        var token = '{{csrf_token}}';
        $.ajax({
            headers: { "X-CSRFToken": token },
            type: "GET",
            url: "/sales/contract/list",

            success: function (response) {

                aux = response;
                for (i = 0; i < aux.product.length; i++) {

                    var check = '<div class="col-12"><div class="form-check">' +
                        '<input type="checkbox" name="check[]" class="form-check-input" value="' + aux.product[i].id + '">' +
                        '<label class="form-check-label" for="id_state">' + aux.product[i].category + ' ' + aux.product[i].location + ' ' + aux.product[i].name + ',  ' +aux.product[i].time_operation +' </label></div></div>';

                    $('#content_product').append(check);
                }
            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                mensaje(errorThrow, 'red');
                cerrar_modal();
            }
        });

    })

    // function asignar_productos() {

    //     $('#content_product').empty();

    //     pases = $('#id_pass_contract').val();
    //     porcentaje = $('#id_porcentage_contract').val();

    //     var token = '{{csrf_token}}';
    //     $.ajax({
    //         headers: { "X-CSRFToken": token },
    //         type: "GET",
    //         url: "/sales/contract/list",

    //         success: function (response) {

    //             aux = response;
    //             for (i = 0; i < aux.product.length; i++) {

    //                 if ($("#check_pass").is(":checked")) {
    //                     if ($("#id_pass_contract").val() == "") {
    //                         mensaje("Debe ingresar un valor en: pases o porcentaje valido!!!", "red");
    //                         $("#product_id").val('');
    //                         return;
    //                     }
    //                     porcentaje = calculo_tiempo(aux.product[i].time_operation, pases, null);
    //                     console.log(aux.product[i].time_operation + " | " + pases + " => " + porcentaje)
    //                 }
    //                 if ($("#check_porc").is(":checked")) {
    //                     if ($("#id_porcentage_contract").val() == "") {
    //                         mensaje("Debe ingresar un valor en: pases o porcentaje valido!!!", "red");
    //                         $("#product_id").val('');

    //                         return;
    //                     }

    //                     pases = calculo_tiempo(aux.product[i].time_operation, null, porcentaje);
    //                     console.log(porcentaje)
    //                     console.log(aux.product[i].time_operation + " | " + pases + " => " + Math.round(porcentaje, -1))
    //                 }


    //                 // var check = '<div class="col-6"><div class="form-check">' +
    //                 //     '<input type="checkbox" name="' + aux.product[i].id + '" class="form-check-input" id="' + aux.product[i].id + '">' +
    //                 //     '<label class="form-check-label" for="id_state">' + aux.product[i].category + ' ' + aux.product[i].location + ' ' + aux.product[i].name + '</label></div></div>';

    //                 var check = '<div class="form-row align-items-center col-12"><div class="col-2 my-1"><div class="form-check">' +
    //                     '<input class="form-check-input" type="checkbox" name="check[]" value="'+aux.product[i].id +'"><label class="form-check-label" >' +
    //                     aux.product[i].category + ' ' + aux.product[i].location + ' ' + aux.product[i].name + '</label></div></div>' +
    //                     '<div class="col-sm-2 my-1"><label class="sr-only" for=""></label><div class="input-group"><div class="input-group-prepend">' +
    //                     '<div class="input-group-text">pases</div></div>' +
    //                     '<input type="text" class="form-control" name="pases[]"  value="' + pases + '" readonly ></div></div>' +
    //                     '<div class="col-sm-2 my-1"><label class="sr-only" for="inlineFormInputGroupUsername"></label>' +
    //                     '<div class="input-group"><div class="input-group-prepend"><div class="input-group-text">%</div> </div>' +
    //                     ' <input type="text" class="form-control" name="porcentaje[]"  value="' + porcentaje + '" readonly></div></div> ' +
    //                     '<div class="col-sm-6 my-1"><label class="sr-only" for="inlineFormInputGroupUsername"></label><div class="input-group">' +
    //                     '<div class="input-group-prepend"><div class="input-group-text">descripción</div></div>' +
    //                     '<input type="text" class="form-control" name="descripcion[]" value=""> </div></div> </div>';

    //                 $('#content_product').append(check);
    //             }
    //         },
    //         error: function (jqXHR, textStatus, errorThrow) {
    //             console.log(textStatus, errorThrow);
    //             mensaje(errorThrow, 'red');
    //             cerrar_modal();
    //         }
    //     });
    // }

    $("form").submit(function (e) {

        e.preventDefault();

        if ($("#check_pass").is(":checked")) {
            if ($("#id_pass_contract").val() == "") {
                mensaje("Debe ingresar un valor en: 'pases' valido!!!", "red");
                $("#product_id").val('');
                return;
            }
        }
        if ($("#check_porc").is(":checked")) {
            if ($("#id_porcentage_contract").val() == "") {
                mensaje("Debe ingresar un valor en: 'porcentaje'  valido!!!", "red");
                $("#product_id").val('');

                return;
            }
        }
        var data = new FormData($("#formulario").get(0));

        var token = '{{csrf_token}}';

        // console.log(data);

        $.ajax({
            headers: { "X-CSRFToken": token },
            type: "POST",
            url: "/sales/contract/new/",
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response)
                if (response == 'ok') {
                    window.location.href = "/sales/contract/";
                }
            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                mensaje(errorThrow, 'red');
                cerrar_modal();
            }
        });


    });



    // para validar que se encuentre pases o porcentaje colocado
    $("#check_pass").change(function () {

        // console.log($("#check_pass").is(":checked"));
        if ($("#check_pass").is(":checked")) {
            document.getElementById("id_pass_contract").disabled = false;
            document.getElementById("id_porcentage_contract").disabled = true;
            $("#id_porcentage_contract").val('');
            $("#id_pass_contract").focus();
            document.getElementById("check_porc").checked = false;
        }

    });
    $("#check_porc").change(function () {

        // console.log($("#check_porc").is(":checked"));
        // TODO: vaciar las cajas de los checkboxs

        if ($("#check_porc").is(":checked")) {
            document.getElementById("id_pass_contract").disabled = true;
            document.getElementById("id_porcentage_contract").disabled = false;
            $("#id_pass_contract").val('');
            $("#id_porcentage_contract").focus();
            document.getElementById("check_pass").checked = false;

        }

    });
    // fin para validar pases
</script>
{% endblock %}