{% extends 'base/base.html' %}

{% block page_content %}

<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de mantenimientos</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>

                <a class="dropdown-item" href="{% url 'maintenance:maintenance_new' %}"><i class="far fa-calendar-plus"></i>
                    Nuevo</a>

            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No hay registro de mantenimientos</div>

        {% else %}
        <div class="table-responsive">

            <table class="table table-striped table-hover table-bordered table-sm" data-page-length='25'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Users</th>
                        <th>Concluciones</th>

                        <!-- <th>UC</th> -->
                        <!-- <th>UM</th> -->
                        <th class="all">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in obj %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created_date }}</td>
                        <td>{{item.product}} </td>
                        <td>{{ item.collaboration }}</td>
                       
                        <td>{{ item.conclusions }}</td>
                       
                        <!-- <td>{{ item.user_created}}</td> -->
                        <!-- <td>{{ item.user_updated}}</td> -->
                        <!-- para fecha formateada |date: "d/m/Y H:i:s" -->

                        <td>
                            {% if perms.maintenance.change_maintenance %}
                            <a href="{% url 'maintenance:maintenance_edit' item.id %}"
                                class="btn btn-sm btn-outline-warning btn-circle" role="button"><i
                                    class="far fa-edit"></i></a>
                            {% endif %}
                            {% if perms.maintenance.delete_maintenance %}
                            <button class="btn btn-sm btn-outline-danger btn-circle"
                                onclick="return abrir_modal('{% url 'maintenance:maintenance_delete' item.id %}')"><i
                                    class="far fa-trash-alt"></i></button>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block js_page %}
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            show: 20
        });
    })
</script>


{% endblock %}