{% extends 'base/base.html' %}

{% block page_content %}

<form method="POST" class="form-group" enctype="multipart/form-data" id="formulario">
    {% csrf_token %}

    <div class="col-xl-12 col-md-12 mb-12" id="seleccion">



        <div class="card border-left-primary shadow h-100 py-2">


            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Confirmar fechas de reporte.
                        </div>
                        <div class="dropdown-divider"></div>
                        <div>Cliente: <strong>{{contract.client.name}}</strong> </div>
                        <div>Descripción: <strong>{{contract.description}}</strong> </div>
                        <div>Auspicio: <strong>{{contract.auspice|yesno:'Si,No'}}</strong> </div>

                        <div class="form-group row">
                            <!-- <div class="form-control col-6"> -->
                            <label for="id_start_date" class="col-sm-2 col-form-label">Fecha de inicio</label>
                            <div class="col-sm-4 ">
                                <input type="date" name="start_date" class="form-control" id="id_start_date"
                                    value="{{contract.start_date|date:'Y-m-d'}}" required>
                            </div>
                            <!-- </div> -->
                            <!-- <div class="form-control col-6 "> -->
                            <label for="id_end_date" class="col-sm-2 col-form-label">Fecha final</label>
                            <div class="col-sm-4 ">
                                <input type="date" name="end_date" class="form-control" id="id_end_date"
                                    value="{{contract.end_date|date:'Y-m-d'}}" required>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div> <strong>LOCACIONES CONTRATADAS</strong> </div>
                        <ul class="list-unstyled">
                            <ul>
                                {% for item in order %}
                                <li>{{item.product}}</li>
                                {% endfor %}
                            </ul>
                        </ul>




                        <div class="dropdown-divider"> </div>

                        <div class="dropdown-divider"> </div>
                        <div class="text-m font-weight-bold text-uppercase mb-1">
                            Todas las listas de reproduccion encontradas - con mayor bonificación
                        </div>
                        {% if report2 %}
                        <div class="row">
                            <table class="table table-sm table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col-sm-1">#</th> -->
                                        <th></th>
                                        <th>id</th>
                                        <th>Producto</th>
                                        <th>Fecha de aparición</th>
                                        <th>video</th>
                                        <th>Tiempo(s)</th>
                                        <th>Apariciones en lista</th>
                                        <th>Repeticiones de pauta</th>
                                        <th>Total (s) cliente</th>
                                        <th>Tiempo contratado</th>
                                        <th>bonificación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in report2 %}

                                    <tr {% if item.proyection %} class="table-warning" {% endif %}>
                                        <!-- <td>1</td> -->
                                        <td><input type="checkbox" name="id_report" id="id_report" value="{{item.id}}"> </td>
                                        <td>{{item.id}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.create_date}}</td>
                                        <td>{{item.video_name}}</td>
                                        <td>{{item.video_duration}}</td>
                                        <td>{{item.repeticiones}}</td>
                                        <td>{{item.pauta_loop}}</td>
                                        <td>{{item.second_total}}</td>
                                        <td>{{item.time_contract}}</td>
                                        <td>{{item.time_bonification}}</td> 
                                        <!-- <input type="text" value=""> -->
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <h5> Sin registros encontrados</h4>
                            <p>No se encontraron registros para el contrato, debe crear listas de reproduccion para
                                encontrar registros que puedan ser validados para el reporte de emision.</p>
                            {% endif %}






                            <br />
                            <div>
                                <label class="mr-2" for="bandera">Marcar para reporte <strong>Comercial</strong>
                                </label>
                                <input type="checkbox" name="bandera" value="1">
                            </div>

                            <div class="form-row text-center ">

                                <div class="col-sm-10">
                                    <a href="{% url 'reportemision:report_client' %}" class="btn btn-danger"><span
                                            class="fa fa-undo"> Cancelar</span></a>
                                    <button type="submit" class="btn btn-success" id="btn_guardar"><span
                                            class="fa fa-save"></span>
                                        Guardar</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}

{% block js_page %}
<script>


    // funcion que envia la parte de este spot en la base de datos 
    function send_report_day(valor) {
        console.log(valor)
    }

</script>
{% endblock %}