{% load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Orden: {{ obj.order.product}}</title>

    <style type="text/css">
        @page {
            size: letter;
            margin: 1cm;

        }

        @media print {
            div.saltopagina {
                display: block;
                page-break-before: always;
            }
        }

        body {
            /* size: 216mm 279mm; */
            height: 216mm;
            width: 279mm;
            /* 216 x 279 */

        }

        .contenedor-logo {
            text-align: center;
        }


        .logo {
            max-width: 250px;
            max-height: 90px;
            width: 250px;
            height: 90px;

        }

        .grafico {
            /* width: 400px; */
            /* max-width: auto; */
            height: 345px;
            min-height: 345px;
        }

        #footer {
            position: fixed;
            display: block;
            /* top: 0; */
            bottom: 0;
        }
    </style>
</head>

<body>
    <!-- <div class="container"> -->
    <div class="col-12 row pr-0">
        <div class="col-4 mr-3">
            <img class="logo" src="{% static 'base/img/rpk.svg' %}" alt="">

        </div>
        <div class="col-7 text-right">
            <h5> SISTEMA DE ADMINISTRACION PUBLICITARIA</h5>
            <h6> Reporte de cliente</h6>
            <!-- <p>Fecha de impresión: {{ today|date:"d/m/Y" }}</p> -->
        </div>
    </div>

    <div class="col-12 text-uppercase mb-3 mt-3">
        <div class="row ml-3">
            <div class=" font-weight-bold mr-3">Cliente: </div>
            <div class="desc"> {{obj.order.contract.client}} </div>
        </div>
        <div class="row ml-3">
            <div class="font-weight-bold mr-3">fecha de inicio: </div>
            <div class="desc"> {{obj.start_date}} </div>
        </div>
        <div class="row ml-3">
            <div class="font-weight-bold mr-3">fecha de finalizacion: </div>
            <div class="desc"> {{obj.end_date}} </div>
        </div>
        <div class="row ml-3">
            <div class=" font-weight-bold mr-3">Locacion: </div>
            <div class="desc"> {{obj.order.product}} </div>
        </div>
    </div>

    <div class="detalles col-12 mt-3">
        <div class="row ml-5">
            <div class=" font-weight-bold mr-3">Detalles:</div>

        </div>


    </div>
    
    <div class="col-8">
        <table class="table table-bordered table-sm ">


            <tbody>

                <tr>
                    <td>Horario de funcionamiento:</td>
                    <td>De: {{obj.order.product.start_time}} Hrs. hasta: {{obj.order.product.end_time}} Hrs.</td>
                </tr>
                <tr>
                    <td>Total horas de funcionamiento durante el dia:</td>
                    <td>{{obj.order.product.time_operating_valid}} Hrs. </td>
                </tr>
                <tr>
                    <td>Total segundos de funcionamiento durante el dia:</td>
                    <td>{{obj.order.product.time_operating_seconds}} Segundos. </td>
                </tr>
                <tr>
                    <td>Repeticiones de tandas durante el dia:</td>
                    <td>{{obj.repeat_pauta_day}} Repeticiones. </td>
                </tr>
                <tr>
                    <td>Cantidad de apariciones de los videos durante una tanda:</td>
                    <td>{{time2}}</td>
                </tr>
                <tr>
                    <td>Total segundos reproducidos en una tanda:</td>
                    <td>{{time}} </td>
                </tr>
                <!-- <tr>
                    <td>Cantidad de apariciones de los videos durante una tanda:</td>
                    <td>{{obj.repeat_in_pauta}}</td>
                </tr> -->
                <tr>
                    <td>Total segundos reproducidos:</td>
                    <td>{{obj.second_total_day}} Segundos. </td>
                </tr>
                <tr>
                    <td>Total segundos contratados:</td>
                    <td>{{obj.time_contract}} Segundos. </td>
                </tr>
                <tr>
                    <td>Total segundos de bonificacion:</td>
                    <td>{{obj.time_bonification}} Segundos. </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 row ">
        <div class="col-8">
            <div class="row ml-5">
                <div class=" font-weight-bold mr-3">Detalle de videos:</div>
            </div>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre video</th>
                        <th>Duración</th>
                        <th>En Segundos</th>
                        <th>Repeticiones en pauta</th>
                        <th>Total tiempo en pauta</th>
                      
                    </tr>
                </thead>
                <tbody>
                    {% for  item in videos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name_video }}</td>
                        <td>{{ item.duration }}</td>
                        <td>{{ item.duration_seconds }}</td>
                        <td>{{ item.repeat_in_pauta }}</td>
                        <td>{{ item.time_in_pauta }}</td>


                        


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      
    </div>


   
    <div class="col-12 row m-0 p-0">
      
        <div class="col-6 m-0 p-0 pl-3">
            <div id="clientes" style="width: auto; height: 500px;"></div>

        </div>
    </div>


    <div class="saltopagina"></div>
    <div class="col-12 row pr-0">
        <div class="col-4 mr-3">
            <img class="logo" src="{% static 'base/img/rpk.svg' %}" alt="">

        </div>
        <div class="col-7 text-right">
            <h5> SISTEMA DE ADMINISTRACION PUBLICITARIA</h5>
                <h6> Reporte de playlist</h6>
                    
        </div>
    </div>
    <div class="col-12">
        <div class="ml-3 text-uppercase">

            <p class="font-weight-bold ">Lista de reproducción</p>
        </div>
        <div>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Video</th>
                        <th>Duración</th>

                    </tr>
                </thead>
                <tbody> 
                    {% for  item in playlist %}
                    <tr {% if item.color == 1 %}  class="table-info"  {% endif%}>
                        <td>{{ item.orden_list }}</td>
                        <td>{{ item.name_video }}</td>
                        <td>{{ item.duration }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer">
        Sistema de Administracion publicitaria - Rpk Srl.
    </div>
    <!-- </div> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart2);
        var otros_clientes = parseInt('{{obj.order.product.time_operating_seconds}}') - parseInt('{{obj.second_total_day}}')
        var datos_client = [['Cliente', 'tiempo(s)'],['{{obj.order.contract.client.name}}', parseInt('{{obj.second_total_day}}')],['Otros clientes', otros_clientes ]]
        

        function drawChart2() {

            var data = google.visualization.arrayToDataTable(datos_client);

            var options = {
                title: 'Grafico de pauta'
            };

            var chart = new google.visualization.PieChart(document.getElementById('clientes'));

            chart.draw(data, options);
        }
    </script>
</body>

</html>