/* .logo-blanco {
    
    width: 100%;
    height: auto;
    margin: auto;
    
} */
 .sidebar .sidebar-brand .logo-blanco{
    
    width: 100%;
    height: auto;
    margin: 5px;
 
}

.v-center {
    min-height:200px;
    display: flex;
    justify-content:center;
    flex-flow: column wrap;
  }

.font-15 {
    font-size: 1.5em;
}